.canvas-container {
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    height: 1200;
    width: 800;
    align-items: center;
    align-content: center;
    border: 2px solid #000;
}